* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.header .nav-link {
    font-size: 1.4rem;
    margin: 0 1rem;
}
.header .navbar {
    border-radius: 0;
    padding: 2rem;
}
.header .navbar-nav {
    margin: auto;
    border: 1px solid red none;
}
.header .navbar-brand {
    font-size: 2rem;
    border: 1px solid red none;
}
.header .navbar-collapse {
    border: 1px solid red none;
}
.header .form-inline {
    display: flex;
    border: 1px solid red none;
    height: 3rem;
    width: 30rem;
    justify-content: flex-end;
}
.header .form-control {
    margin: 0 1rem;
    font-size: 1.4rem;
    display: none;
}
.header .icon {
    color: white;
    font-size: 1.8rem;
    /* border: 1px solid red; */
    line-height: 3rem;
    margin: 0 1.2rem;
}
.header .btn {
    height: 3rem;
    width: 7rem;
    font-size: 1.4rem;
    border: 2px solid #e400ffc9;
    color: white;
}
.header .btn:hover {
    background: #c92bf5f0;
    box-shadow: 1px 1px 20px 3px #d752fc;
}

.main__image {
    height: 60rem;
    object-fit: cover;
}

.discover {
    background: #f666ff47;
}
.discover-title {
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: middle;
}
.discover__icon {
    color: #da0bf5;
    font-size: 2.2rem;
    margin: 1rem 1.5rem;
}
.discover .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0;
    text-align: justify;
    width: 15rem;
    margin: 0 auto;
}
.discover .card {
    border-radius: 42px 15px 42px 15px;
    border-color: transparent;
}
.discover .card:hover {
    animation-name: bou;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.29);
}
.discover .card-text {
    font-size: 1.2rem;
}
@keyframes bou {
    0% {
        transform: scale(0.9);
        transform-origin: center;
    }
    100% {
        transform: scale(1.1);
    }
}
@media only screen and (max-width: 572px) {
    .discover .card {
        width: 28rem;
    }
}
@media only screen and (max-width: 767px) {
    .discover .card {
        margin: 0.5rem 0.5rem;
    }
}
@media only screen and (max-width: 992px) {
    .discover .card {
        margin: 1rem 1rem;
    }
}

.product-one .card {
    border-color: transparent;
}
.product-one-pa {
    font-size: 1.4rem;
}
.product-one-title {
    font-size: 2rem;
}
.product-one-p {
    font-size: 1.2rem;
    width: 25rem;
}
.product-one .card-text {
    font-size: 95%;
    font-weight: 600;
}
@media only screen and (max-width: 570px) {
    .product-one .card {
        width: 32rem;
    }
    .product-one .card-body {
        width: 100%;
    }
}

.product-two {
    background-color: rgba(210, 109, 224, 0.28);
    border-radius: 0px 100px 0px 0px;
}
.product-two .card img {
    height: 30rem;
    object-fit: cover;
}
.product-two .btn {
    width: 12rem;
    background-color: #da0bf5;
}
.product-two .card-text {
    font-size: 1.3rem;
}
@media only screen and (max-width: 570px) {
    .product-two .card {
        width: 80%;
        margin: 2rem auto;
    }
}

.product-tree .card {
    width: 28rem;
    border: none;
}
.product-tree .card p {
    font-size: 1.1rem;
}
.product-tree span {
    font-size: 1.8rem;
}
.product-tree span::after {
    content: ":";
    margin: 0 0.2rem;
}
.product-tree .image-container {
    overflow: hidden;
    /* width: 23rem; */
    /* height: 20rem; */
    max-width: 28rem;
    padding: 0;
}
.product-tree .image-container img {
    height: 28rem;
    object-fit: cover;
}

.contact {
    background-image: url("https://i.pinimg.com/564x/ed/ec/c7/edecc77e63942d042c80adac6f8bb873.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.contact .box-1 {
    max-width: 40rem;
    border: 1px solid red none;
    height: 35rem;
    background-image: url("../../../src/img/image-test.jpg");
    background-size: cover;
}
.contact .box-2 {
    max-width: 40rem;
    height: 35rem;
    background-color: rgba(165, 115, 210, 0.35);
    border: 1px solid red none;
}
.contact input {
    height: 3rem;
    font-size: 1.4rem;
}
.contact .form-check-input {
    width: 2.5rem;
    margin-right: 2rem;
    height: 2.2rem;
    border-radius: 1rem;
}
.contact .btn-primary {
    width: 8rem;
    margin: 0.5rem auto;
    font-size: 1.3rem;
}
.contact label {
    font-size: 1.5rem;
}
.contact form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
@media only screen and (max-width: 767px) {
    .contact .box-1 {
        width: 95%;
        margin: auto;
    }
    .contact .box-2 {
        width: 95%;
        margin: 1rem auto 0 auto;
    }
}

.footer {
    background: #212529;
    overflow: hidden;
}
.footer .box-1, .footer .box-2, .footer .box-3, .footer .box-4 {
    border: 1px solid red;
    padding: 2rem 2rem;
}
.footer .title {
    color: white;
    margin-bottom: 2rem;
}
.footer .paragraph {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 1rem;
}
.footer .icon {
    font-size: 2.2rem;
    margin: 1rem 0.3rem;
    color: white;
}